Source: grml-network
Section: grml
Priority: optional
Maintainer: Michael Prokop <mika@grml.org>
Build-Depends: debhelper (>= 5), xsltproc, docbook-xsl, asciidoc
Standards-Version: 3.8.2
Homepage: http://git.grml.org/?p=grml-network.git
Vcs-git: git://git.grml.org/grml-network.git
Vcs-Browser: http://git.grml.org/?p=grml-network.git

Package: grml-network
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, zsh, psmisc, dialog, grml-etc-core
Recommends: bridge-utils, nmap, pppoeconf, pptp-linux, resolvconf, uml-utilities, vpnc, wireless-tools, wpasupplicant, wvdial
Suggests: isdnutils-base
Conflicts: grml-scripts (<< 0.8-26)
Description: network related helper scripts
 This package provides scripts for network related
 tasks which should make life easier. Like:
 .
  * grml-ap: set up your box as access point
  * grml-bridge: set up your box as bridge
  * grml-network: interface for several network related tasks
  * grml-router: set up your box as NAT-router
  * netcardconfig: console based network configuration tool
