Source: grml-network
Section: grml
Priority: optional
Maintainer: Michael Prokop <mika@grml.org>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2
Homepage: http://hg.grml.org/grml-network/
XS-Vcs-hg: http://hg.grml.org/grml-network/
XS-Vcs-Browser: http://hg.grml.org/grml-network/

Package: grml-network
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, zsh, psmisc
Suggests: wireless-tools, wpasupplicant, pptp-linux, wvdial, nmap, pppoeconf, isdnutils-base, resolvconf
Conflicts: grml-scripts (<< 0.8-26)
Description: network related helper scripts
 This package provides scripts for network related
 tasks which should make life easier.
